@font-face {
	font-family: "{FONT_FAMILY}";
	font-display: block;
	src: url("./{FONT_FILE}") format("truetype");
}

.vsicon[class*='vsicon-'] {
	font: normal normal normal 16px/1 {FONT_FAMILY};
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/*---------------------
 *  Modifiers
 *-------------------*/

@keyframes vsicon-spin {
	100% {
		transform:rotate(360deg);
	}
}

.vsicon-sync.vsicon-modifier-spin,
.vsicon-loading.vsicon-modifier-spin,
.vsicon-gear.vsicon-modifier-spin {
	/* Use steps to throttle FPS to reduce CPU usage */
	animation: vsicon-spin 1.5s steps(30) infinite;
}

.vsicon-modifier-disabled {
	opacity: 0.5;
}

.vsicon-modifier-hidden {
	opacity: 0;
}

/* custom speed & easing for loading icon */
.vsicon-loading {
	animation-duration: 1s !important;
	animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67) !important;
}

/*---------------------
 *  Icons
 *-------------------*/
